<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <div class="container d-flex justify-content-center">
  <%= f.button :submit, class:"btn btn-outline-dark m-3" %>
  </div>
  <%= f.input :photo, as: :file %>
<% end %>
<div class="container d-flex justify-content-center">
  <%= link_to "Back to Lists", lists_path, class:"btn btn-outline-dark m-3" %>
</div>
