<h1>Add a new bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.all %>
  <div class="container d-flex justify-content-center">
  <%= f.button :submit, class:"btn btn-outline-dark m-3" %>
  </div>
<% end %>
<div class="container d-flex justify-content-center">
  <%= link_to "Back to movies", list_path(@list), class:"btn btn-outline-dark m-3" %>
</div>
